body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Gothic A1', sans-serif;
    background-image: url("img/photo-1542880435-afda6a0019dd.jpg");
    background-size: cover;
}

.h1{
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #9c9cba;
}
.h3{
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #d8d9e1;
}